extends ./layout/index

block contenido
    main.container.mt-5
        .row  
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7  
                h1 #{pagina}
                blockquote Vestibulum malesuada turpis sit amet rutrum volutpat. Suspendisse vulputate elit sed odio viverra, sed ultrices sapien scelerisque. Praesent elementum ipsum neque, et varius sapien gravida ut. Mauris dapibus ac leo nec cursus.

                p Nulla hendrerit libero eros, placerat suscipit urna scelerisque vel. Aenean ullamcorper bibendum turpis ultrices vestibulum. Vestibulum nec risus id arcu auctor sodales. Vivamus congue sed metus vitae bibendum. Fusce porttitor massa ante, placerat molestie mauris consequat non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla facilisi. 

                p Duis in eleifend massa. Maecenas odio dolor, ornare a mi et, consectetur hendrerit enim. Ut luctus maximus gravida. Vivamus rutrum nisl erat, non pulvinar tortor porttitor nec. Suspendisse eu rutrum libero. Proin vulputate odio quis efficitur eleifend. Vestibulum porta, mauris at accumsan lacinia, mi sem aliquam mauris, vel aliquet ex purus non massa. Mauris iaculis nisi nec nibh maximus, vel ullamcorper velit mollis. Mauris commodo metus ultrices dignissim dapibus. Curabitur rhoncus euismod varius. In hac habitasse platea dictumst. Aenean feugiat urna ac nisi tempus sagittis. Suspendisse potenti. Fusce sit amet arcu ipsum. In facilisis tellus non odio vestibulum placerat.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Ivamus tempus sagittis mauris, id vehicula augue imperdiet id. Donec congue enim in mi fermentum dignissim. Aliquam sollicitudin auctor massa at gravida. 
                    
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Ivamus tempus sagittis mauris, id vehicula augue imperdiet id. Donec congue enim in mi fermentum dignissim. Aliquam sollicitudin auctor massa at gravida. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios Increibles
                    p Ivamus tempus sagittis mauris, id vehicula augue imperdiet id. Donec congue enim in mi fermentum dignissim. Aliquam sollicitudin auctor massa at gravida. 